@import-normalize; /* bring in normalize.css styles */

:root {
  --stats-background-color: #dedcdc;
  --blue-color: #e0ffff;
  --text-color: #757575;
  --azure-color: #f0ffff;
  --white-color: #ffffff;
  --whiteSmoke-color: #f5f5f5;
  --steelBlue-color: #4682b4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--azure-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
